@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #0e3e63;
  --color-link: #4da3ff;
  --color-muted: #7a7a7a;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #0e3e63;
}

#root {
  min-height: 100vh;
}
